/.idea/workspace.xml
/.idea/libraries
gradlew
gradlew.bat
.DS_Store
/build
build
*.iml
local.properties
# IDEA/Android Studio ignores
*.ipr
*.iws
# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml
.gradle/
